@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

header {
    text-align: center;
    border: 1px solid rgb(250, 78, 78);
    border-radius: .75rem;
    background-color: rgb(248, 170, 170);
    padding: .5rem;
}
.debug {
    border: 1px solid red;
    transform: scale(1.5)
}
.itemCard {
    padding: .15rem 1rem;
    padding-left: 2rem;
}
.itemCard:nth-child(2n+2) {
    background-color: #eee;
}
.itemCard:nth-child(2n+1) {
    background-color: #fff;
}

.cursorPointer {
    cursor: pointer;
    user-select: none;
}

.categoryBorder {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: .5rem 0;
    margin: .25rem;
}

.categoryHeader {
    padding: .5rem 1rem;
    font-weight: 700;
}